<!-- src/views/todos/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url('https://source.unsplash.com/random/1920x1080') no-repeat center center fixed;
            background-size: cover;
            color: white;
            font-family: 'Arial', sans-serif;
        }
        .container {
            background: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            text-align: center;
            color: #333;
        }
        .form-inline {
            justify-content: center;
        }
        .list-group-item {
            background-color: #249df9;
            border-color: #ddd;
            margin-top: 10px;
        }
    }
        .btn-custom {
            background-color: #17a2b8;
            color: white;
            border-color: #17a2b8;
        }
        .btn-custom:hover {
            background-color: #138496;
            border-color: #138496;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Todos List</h1>
        <form action="/todospanel" method="post" class="form-inline my-4">
            <div class="form-group mx-sm-3 mb-2">
                <label for="title" class="sr-only">Título:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Título" required>
            </div>
            <div class="form-check mx-sm-3 mb-2">
                <input type="checkbox" class="form-check-input" id="completed" name="completed">
                <label class="form-check-label" for="completed">Completado</label>
            </div>
            <button type="submit" class="btn btn-outline-success mb-2">Agregar Tarea</button>
        </form>
        <hr>
        <h2>Tareas</h2>
        <ul class="list-group">
            <% todos.forEach((todo) => { %>
                <li class="list-group-item">
                    <%= todo.title %> - <%= todo.completed ? "Completado" : "No Completado" %>
                </li>
            <% }) %>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
